<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Montserrat", sans-serif;
    padding: 0;
}

=======
body {
    margin: 0 auto;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: greenyellow;
    color: black;
    padding: 10px 20px;
}

.logo h1 {
    margin: 0 ;
    display: flex;
    padding: 20px;
    text-align: left;

}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 20px;
    display: flex;
}

.nav ul li {
    margin-right: 10px;
}

.nav ul li a {
    color: black;
    text-decoration: none;
}

.nav ul li a:hover {
    text-decoration: underline;
}

.footer {
    display: flex;
    background-color: lawngreen;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
>>>>>>> 7586f7d60cea32e1abfe70403978ce78da42eca8
